/* Created by: Isaaq Simon
* Created on: Mar 2025
* This file contains the CSS for index.html
*/


body {
    background-color: rgb(100, 95, 29);
}

h1 {
    background-color: rgb(181, 207, 11);
    color: hsl(147, 50%, 47%);
    padding: 40px;
    text-align: center;
}

p {
    background-color: #555737;
}